{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>À propos de CampingShop</h1>
        <p>Nous sommes une équipe de 3 étudiantes qui avons développé ce projet e-commerce pour la gestion du matériel de camping.</p>
        <p>Ma partie : panier via cookies, avis clients, réclamations, paiement et dashboard.</p>
    </div>
{% endblock %}
