services:
    _defaults:
        autowire: true
        autoconfigure: true

    # exclude entities و kernel
    App\:
        resource: '../src/'
        exclude:
            - '../src/Entity/'
            - '../src/Kernel.php'

    # Controllers تعريف خاص
    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']
