{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier mot de passe</h1>

    <form method="post">
        <input type="password" name="password" placeholder="Nouveau mot de passe" required>
        <button>Changer</button>
    </form>
{% endblock %}
